@import "_vars";


/// Estilos menu de navegacion 
/// @group estilos-navBar
.barra-nav{
    padding: 10px;
    background-color: white;
}
/// Estilos menu de navegacion superior 1 
/// @group estilos-menu-1
.menu-estilos-1 {
    text-decoration: none;
    color: $primaryFucsia;
    font-family: HarlowSolid;
    font-size: $fuenteNavBar;

    &:hover {
        color: $secondaryFucsia;
    }
}
/// Estilos menu de navegacion superior 2
/// @group estilos-menu-2
.menu-estilos-2 {
    text-decoration: none;
    color: $tertiaryFucsia;
    font-family: Ebrima-Negrita;
    font-size: $fuenteNavBar;

    &:hover {
        color: $secondaryFucsia;
    }
}

/// Estilos menu de la lineaDivisoria
/// @group estilos-lineaDivisoria

.lineaDivisoria {
    color: $tertiaryFucsia;
    font-family: Ebrima-Negrita;
    font-size: $fuenteLineaDivisoria;
}

/// Fondos de las diferentes ventanas y card personalizados
/// @group fondos-pantallas
.background-Inicio{
    background-image: url("../img/Backgrounds-windows/16-9_FondoPortada.png");
    background-repeat: no-repeat;

}
.fondoVentana-SobreNosotros{

    background-image: url("../img/Backgrounds-windows/16-9\ FondoSobreNosotros.png");
    background-repeat: no-repeat;
}
.fondoVentana-sesion{

    background-image: url("../img/Backgrounds-windows/16-9\ Sesion_Preguntas.png");
    background-repeat: no-repeat;
}
.background-Perfil{
    background-image: url("../img/Backgrounds-windows/16-9\ FondoPerfil.png");
    background-repeat: no-repeat;
}
.background-Carrito{
    background-image: url("../img/Backgrounds-windows/16-9\ FondoCarrito.png");
    background-repeat: no-repeat;
}
.background-Catalogo{
    background-image: url("../img/Backgrounds-windows/fondoDegadadoCatalogo.jpg");
    background-repeat: no-repeat;
}
.fondo-portada{
    background-image: url("../img/Backgrounds-windows/fondoXA.jpg");
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
}
.fondo-estrellas{
    background-image: url("../img/Backgrounds-windows/16-9\ FondoCatalogo2.png");
    background-repeat: no-repeat;
    padding: 30px;
    border-radius: 10px;
}