/// Colores titulos de marca
/// @group colores
$primaryFucsia: #D904CB;
$secondaryFucsia: #8C0383;
$tertiaryFucsia: #E87AE1;
$veryDarkFuchsia: #59024B;


$customWhite: #EEEEEE;
$customBlack: #252525;

/// Colores titulos de marca
/// @group fuentes_empleadas 
@font-face {
    font-family: Ebrima;
    src: url("../fonts/Ebrima/ebrima.ttf"),
}

@font-face {
    font-family: Ebrima-Negrita;
    src:
        url("../fonts/Ebrima/ebrimabd.ttf");
}

@font-face {
    font-family: HarlowSolid;
    src: url("../fonts/Harlow_Solid/HARLOWSI.TTF");
}

/// Tamaño de fuentes usadas en la barra de navegacion
/// @group tamano_fuentes_navBar
$fuenteNavBar:20px;
$fuenteLineaDivisoria:30px;
$fuentePF:16px;