/*      COLORS      */
@font-face {
  font-family: Ebrima;
  src: url("../fonts/Ebrima/ebrima.ttf");
}
@font-face {
  font-family: Ebrima-Negrita;
  src: url("../fonts/Ebrima/ebrimabd.ttf");
}
@font-face {
  font-family: HarlowSolid;
  src: url("../fonts/Harlow_Solid/HARLOWSI.TTF");
}
.barra-nav {
  padding: 10px;
  background-color: white;
}

.menu-estilos-1 {
  text-decoration: none;
  color: #D904CB;
  font-family: HarlowSolid;
  font-size: 20px;
}
.menu-estilos-1:hover {
  color: #8C0383;
}

.menu-estilos-2 {
  text-decoration: none;
  color: #E87AE1;
  font-family: Ebrima-Negrita;
  font-size: 20px;
}
.menu-estilos-2:hover {
  color: #8C0383;
}

.marcado1 {
  text-decoration: none;
  color: #8C0383;
  font-family: HarlowSolid;
  font-size: 20px;
}
.marcado1:hover {
  color: #8C0383;
}

.marcado2 {
  text-decoration: none;
  color: #8C0383;
  font-family: Ebrima-Negrita;
  font-size: 20px;
}
.marcado2:hover {
  color: #8C0383;
}

.marcado-pf {
  text-decoration: none;
  color: #8C0383;
  font-family: Ebrima-Negrita;
  font-size: 16px;
}
.marcado-pf:hover {
  color: #8C0383;
}

.menu-estilos-pf {
  text-decoration: none;
  color: #E87AE1;
  font-family: Ebrima-Negrita;
  font-size: 16px;
}
.menu-estilos-pf:hover {
  color: #8C0383;
}

.lineaDivisoria {
  color: #E87AE1;
  font-family: Ebrima-Negrita;
  font-size: 30px;
}

.background-Inicio {
  background-image: url("../img/Backgrounds-windows/16-9_FondoPortada.png");
  background-repeat: no-repeat;
}

.fondoVentana-SobreNosotros {
  background-image: url("../img/Backgrounds-windows/16-9 FondoSobreNosotros.png");
  background-repeat: no-repeat;
}

.fondoVentana-sesion {
  background-image: url("../img/Backgrounds-windows/16-9 Sesion_Preguntas.png");
  background-repeat: no-repeat;
}

.background-Perfil {
  background-image: url("../img/Backgrounds-windows/16-9 FondoPerfil.png");
  background-repeat: no-repeat;
}

.background-Carrito {
  background-image: url("../img/Backgrounds-windows/16-9 FondoCarrito.png");
  background-repeat: no-repeat;
}

.background-Catalogo {
  background-image: url("../img/Backgrounds-windows/fondoDegadadoCatalogo.jpg");
  background-repeat: no-repeat;
}

.fondo-portada {
  background-image: url("../img/Backgrounds-windows/fondoXA.jpg");
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 10px;
}

.fondo-estrellas {
  background-image: url("../img/Backgrounds-windows/16-9 FondoCatalogo2.png");
  background-repeat: no-repeat;
  padding: 30px;
  border-radius: 10px;
}

/*      COLORS      */
@font-face {
  font-family: Ebrima;
  src: url("../fonts/Ebrima/ebrima.ttf");
}
@font-face {
  font-family: Ebrima-Negrita;
  src: url("../fonts/Ebrima/ebrimabd.ttf");
}
@font-face {
  font-family: HarlowSolid;
  src: url("../fonts/Harlow_Solid/HARLOWSI.TTF");
}
/*      COLORS      */
@font-face {
  font-family: Ebrima;
  src: url("../fonts/Ebrima/ebrima.ttf");
}
@font-face {
  font-family: Ebrima-Negrita;
  src: url("../fonts/Ebrima/ebrimabd.ttf");
}
@font-face {
  font-family: HarlowSolid;
  src: url("../fonts/Harlow_Solid/HARLOWSI.TTF");
}
body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #252525;
  /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #8C0383;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #252525;
  /* creates padding around scroll thumb */
}

.nombre-perfume {
  font-family: HarlowSolid;
  color: #D904CB;
}

.linkLogo {
  text-decoration: none;
}

.tituloLogo {
  font-size: 30px;
}

.tituloLogo1 {
  text-decoration: none;
  font-family: HarlowSolid;
  color: #D904CB;
}

.tituloLogo2 {
  text-decoration: none;
  font-family: HarlowSolid;
  color: #8C0383;
}

.card-inicio {
  width: 450px;
  height: 200px;
  background-color: #EEEEEE;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-top: 150px;
}

.Logo-App {
  width: 3px;
  height: 35px;
}

.contenido {
  margin-top: 10%;
}

.contenidoOtros {
  margin-top: 5%;
}

.card-SN {
  border: 2PX solid #8C0383;
}

.conten-inputs {
  margin-top: 30px;
  margin-left: 150px;
}

.fondocard {
  background-color: rgba(255, 255, 255, 0.212);
  background-repeat: no-repeat;
  background-size: cover;
}

.fondocard-SobreNosotros {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgba(255, 255, 255, 0.973);
}

.fondocard-Sesion {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgba(255, 255, 255, 0.973);
}

.titulo-card {
  font-family: HarlowSolid;
  color: #8C0383;
}

.titulo-card-SN {
  margin-top: 10px;
  color: #8C0383;
  font-family: HarlowSolid;
}

.titulo-card-Sesion {
  margin-top: 10px;
  color: #8C0383;
  font-family: HarlowSolid;
}

.titulo-campo {
  margin-right: 100px;
}

.titulos-sesion {
  margin-bottom: 20px;
  color: #8C0383;
}

.titulo-crear {
  font-family: HarlowSolid;
  color: #8C0383;
}

.text-card {
  font-family: HarlowSolid;
  color: #252525;
}

.text-card-SN {
  margin-top: 50px;
  font-family: HarlowSolid;
  color: #252525;
  margin-right: 60px;
  margin-left: 60px;
}

.text-card-Sesion {
  margin-top: 50px;
  font-family: Ebrima-Negrita;
  color: #252525;
}

.text-crearCuenta {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Ebrima;
  font-size: 15px;
}

.fondo-card {
  background-color: rgb(248, 200, 208);
}

.group {
  position: relative;
}

.input {
  font-size: 12px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.input:focus {
  outline: none;
}

label {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input:focus ~ label, .input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #8C0383;
}

.bar {
  position: relative;
  display: block;
  width: 200px;
}

.bar:before, .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #8C0383;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #D904CB;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.bt-inicioSesi {
  margin-top: 30px;
}

.link-volver {
  text-decoration: none;
}

.poli-priv {
  font-size: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

.bt-cm-con {
  margin-top: 20px;
}

.imagen-modelo {
  width: 500px;
  height: 400px;
  border-radius: 20px;
}

.contenedor-portada-catalogo {
  margin: 60px;
}

.titulo-portada-catalogo {
  margin-top: 10%;
}

.tl-cat {
  font-family: HarlowSolid;
  font-size: 60px;
  color: #EEEEEE;
  text-decoration: underline;
}

.des-cat {
  font-family: HarlowSolid;
  font-size: 20px;
  text-decoration: underline;
  color: #8C0383;
}

.imagen-1-Catalogo {
  height: 700px;
  border-radius: 20px;
}

.imagen-2-Catalogo {
  height: 700px;
  border-radius: 20px;
}

.titulos-articulos {
  font-family: HarlowSolid;
  font-size: 60px;
  color: #EEEEEE;
  margin-top: 30px;
}

.margenes-elemento {
  margin-top: 20%;
  margin-left: 15%;
}

.bt-hver:hover {
  color: white;
}

.brd {
  border-radius: 25px;
}

.tl-preguntasF {
  font-family: Ebrima-Negrita;
  color: #8C0383;
}

.ds-preguntasF {
  font-family: Ebrima;
}

.borde-fucsia {
  border: 2px solid #8C0383;
}

.borde-fucsia-central-1 {
  border-right: 1px solid #8C0383;
}

.borde-fucsia-central-2 {
  border-left: 1px solid #8C0383;
}

/*# sourceMappingURL=styles.css.map */
